@font-face {
  font-family: 'KaTeX_AMS';
  src: url('../assets/fonts/KaTeX_AMS-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_AMS-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_AMS-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url('../assets/fonts/KaTeX_Caligraphic-Bold.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Caligraphic-Bold.woff') format('woff'),
    url('../assets/fonts/KaTeX_Caligraphic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Caligraphic';
  src: url('../assets/fonts/KaTeX_Caligraphic-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Caligraphic-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_Caligraphic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
    font-family: 'KaTeX_Fraktur';
    src: url('../assets/fonts/KaTeX_Fraktur-Bold.woff2') format('woff2'),
      url('../assets/fonts/KaTeX_Fraktur-Bold.woff') format('woff'),
      url('../assets/fonts/KaTeX_Fraktur-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  } */
/* @font-face {
    font-family: 'KaTeX_Fraktur';
    src: url('../assets/fonts/KaTeX_Fraktur-Regular.woff2') format('woff2'),
      url('../assets/fonts/KaTeX_Fraktur-Regular.woff') format('woff'),
      url('../assets/fonts/KaTeX_Fraktur-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
  } */
@font-face {
  font-family: 'KaTeX_Main';
  src: url('../assets/fonts/KaTeX_Main-Bold.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Main-Bold.woff') format('woff'),
    url('../assets/fonts/KaTeX_Main-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url('../assets/fonts/KaTeX_Main-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Main-BoldItalic.woff') format('woff'),
    url('../assets/fonts/KaTeX_Main-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url('../assets/fonts/KaTeX_Main-Italic.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Main-Italic.woff') format('woff'),
    url('../assets/fonts/KaTeX_Main-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Main';
  src: url('../assets/fonts/KaTeX_Main-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Main-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_Main-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url('../assets/fonts/KaTeX_Math-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Math-BoldItalic.woff') format('woff'),
    url('../assets/fonts/KaTeX_Math-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_Math';
  src: url('../assets/fonts/KaTeX_Math-Italic.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Math-Italic.woff') format('woff'),
    url('../assets/fonts/KaTeX_Math-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url('../assets/fonts/KaTeX_SansSerif-Bold.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_SansSerif-Bold.woff') format('woff'),
    url('../assets/fonts/KaTeX_SansSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url('../assets/fonts/KaTeX_SansSerif-Italic.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_SansSerif-Italic.woff') format('woff'),
    url('../assets/fonts/KaTeX_SansSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'KaTeX_SansSerif';
  src: url('../assets/fonts/KaTeX_SansSerif-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_SansSerif-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_SansSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Script';
  src: url('../assets/fonts/KaTeX_Script-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Script-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_Script-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size1';
  src: url('../assets/fonts/KaTeX_Size1-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Size1-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_Size1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size2';
  src: url('../assets/fonts/KaTeX_Size2-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Size2-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_Size2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KaTeX_Size3';
  src: url('../assets/fonts/KaTeX_Size3-Regular.woff2') format('woff2'),
    url('../assets/fonts/KaTeX_Size3-Regular.woff') format('woff'),
    url('../assets/fonts/KaTeX_Size3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
    font-family: 'KaTeX_Size4';
    src: url('../assets/fonts/KaTeX_Size4-Regular.woff2') format('woff2'),
      url('../assets/fonts/KaTeX_Size4-Regular.woff') format('woff'),
      url('../assets/fonts/KaTeX_Size4-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
/* @font-face {
    font-family: 'KaTeX_Typewriter';
    src: url('../assets/fonts/KaTeX_Typewriter-Regular.woff2') format('woff2'),
      url('../assets/fonts/KaTeX_Typewriter-Regular.woff') format('woff'),
      url('../assets/fonts/KaTeX_Typewriter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 4, 2010 06:48:37 PM America/New_York */

/* @font-face {
  font-family: 'LatinModernRoman10Regular';
  src: url('../assets/fonts/latin-modern-roman/lmroman10-regular-webfont.eot');
  src: local('☺'),
    url('../assets/fonts/latin-modern-roman/lmroman10-regular-webfont.woff')
      format('woff'),
    url('../assets/fonts/latin-modern-roman/lmroman10-regular-webfont.ttf')
      format('truetype'),
    url('../assets/fonts/latin-modern-roman/lmroman10-regular-webfont.svg#webfontUr2TdlZR')
      format('svg');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
    font-family: 'LatinModernRoman10Italic';
    src: url('../assets/fonts/latin-modern-roman/lmroman10-italic-webfont.eot');
    src: local('☺'),
      url('../assets/fonts/latin-modern-roman/lmroman10-italic-webfont.woff') format('woff'),
      url('../assets/fonts/latin-modern-roman/lmroman10-italic-webfont.ttf')
        format('truetype'),
      url('../assets/fonts/latin-modern-roman/lmroman10-italic-webfont.svg#webfontjQNsWITO')
        format('svg');
    font-weight: normal;
    font-style: normal;
  } */

/* @font-face {
    font-family: 'LatinModernRoman10Bold';
    src: url('../assets/fonts/latin-modern-roman/lmroman10-bold-webfont.eot');
    src: local('☺'),
      url('../assets/fonts/latin-modern-roman/lmroman10-bold-webfont.woff') format('woff'),
      url('../assets/fonts/latin-modern-roman/lmroman10-bold-webfont.ttf')
        format('truetype'),
      url('../assets/fonts/latin-modern-roman/lmroman10-bold-webfont.svg#webfonty5YKnuOH')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRoman10BoldItalic';
    src: url('../assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.eot');
    src: local('☺'),
      url('../assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.woff')
        format('woff'),
      url('../assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.ttf')
        format('truetype'),
      url('../assets/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.svg#webfontAjkoCUJz')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanSlanted10Regu';
    src: url('../assets/fonts/latin-modern-roman/lmromanslant10-regular-webfont.eot');
    src: local('☺'),
      url('../assets/fonts/latin-modern-roman/lmromanslant10-regular-webfont.woff')
        format('woff'),
      url('../assets/fonts/latin-modern-roman/lmromanslant10-regular-webfont.ttf')
        format('truetype'),
      url('../assets/fonts/latin-modern-roman/lmromanslant10-regular-webfont.svg#webfontvq97LVDx')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanSlanted10Bold';
    src: url('../assets/fonts/latin-modern-roman/lmromanslant10-bold-webfont.eot');
    src: local('☺'),
      url('../assets/fonts/latin-modern-roman/lmromanslant10-bold-webfont.woff')
        format('woff'),
      url('../assets/fonts/latin-modern-roman/lmromanslant10-bold-webfont.ttf')
        format('truetype'),
      url('../assets/fonts/latin-modern-roman/lmromanslant10-bold-webfont.svg#webfontd0lMf1UI')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanCaps10Regular';
    src: url('../assets/fonts/latin-modern-roman/../assets/fonts/latin-modern-roman/lmromancaps10-regular-webfont.eot');
    src: local('☺'),
      url('../assets/fonts/latin-modern-roman/lmromancaps10-regular-webfont.woff')
        format('woff'),
      url('../assets/fonts/latin-modern-roman/lmromancaps10-regular-webfont.ttf')
        format('truetype'),
      url('../assets/fonts/latin-modern-roman/lmromancaps10-regular-webfont.svg#webfonta4hKHUPR')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanCaps10Oblique';
    src: url('../assets/fonts/latin-modern-roman/../assets/fonts/latin-modern-roman/lmromancaps10-oblique-webfont.eot');
    src: local('☺'),
      url('../assets/fonts/latin-modern-roman/lmromancaps10-oblique-webfont.woff')
        format('woff'),
      url('../assets/fonts/latin-modern-roman/lmromancaps10-oblique-webfont.ttf')
        format('truetype'),
      url('../assets/fonts/latin-modern-roman/lmromancaps10-oblique-webfont.svg#webfontvZc9f04v')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanDemi10Regular';
    src: url('../assets/fonts/latin-modern-roman/fonts/latin-modern-roman/lmromandemi10-regular-webfont.eot');
    src: local('☺'),
      url('fonts/latin-modern-roman/lmromandemi10-regular-webfont.woff')
        format('woff'),
      url('fonts/latin-modern-roman/lmromandemi10-regular-webfont.ttf')
        format('truetype'),
      url('fonts/latin-modern-roman/lmromandemi10-regular-webfont.svg#webfontu6qmFmF7')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanDemi10Oblique';
    src: url('fonts/latin-modern-roman/fonts/latin-modern-roman/lmromandemi10-oblique-webfont.eot');
    src: local('☺'),
      url('fonts/latin-modern-roman/lmromandemi10-oblique-webfont.woff')
        format('woff'),
      url('fonts/latin-modern-roman/lmromandemi10-oblique-webfont.ttf')
        format('truetype'),
      url('fonts/latin-modern-roman/lmromandemi10-oblique-webfont.svg#webfontJyBgTnaY')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanDunhill10Regu';
    src: url('fonts/latin-modern-roman/lmromandunh10-regular-webfont.eot');
    src: local('☺'),
      url('fonts/latin-modern-roman/lmromandunh10-regular-webfont.woff')
        format('woff'),
      url('fonts/latin-modern-roman/lmromandunh10-regular-webfont.ttf')
        format('truetype'),
      url('fonts/latin-modern-roman/lmromandunh10-regular-webfont.svg#webfontAlblrzVT')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LatinModernRomanDunhill10Obli';
    src: url('fonts/latin-modern-roman/lmromandunh10-oblique-webfont.eot');
    src: local('☺'),
      url('fonts/latin-modern-roman/lmromandunh10-oblique-webfont.woff')
        format('woff'),
      url('fonts/latin-modern-roman/lmromandunh10-oblique-webfont.ttf')
        format('truetype'),
      url('fonts/latin-modern-roman/lmromandunh10-oblique-webfont.svg#webfontXqRTUacB')
        format('svg');
    font-weight: normal;
    font-style: normal;
  } */
